@model IEnumerable<Covid19AlbertaStatisticsDatum>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Displaying Covid Data from Ab</h1>
    <h4>This is an example of a db first project. Data coming from <a href="https://www.alberta.ca/stats/covid-19-alberta-statistics.htm?aff_id=1262">alberta.ca</a></h4>
    <br />

    <table class="table table-hover table-bordered" style="width: 100%">
        <thead>
            <tr class="table-dark">
                <th>ID:</th>
                <th>Area:</th>
                <th>Gender:</th>
                <th>Death Status:</th>
            </tr>
        </thead>
        <tbody>
            @{
                // Creating object list for simpler communication
                var _listOfModel = Model.ToList();

                // values for flipping through data
                int _startVal = 0;
                int _endVal = 100;

                for (int i = _startVal; i < _endVal; i++)
                {
                        @if (i % 2 == 0)
                        {
                            <tr {} class="table-primary">
                                <td>
                                    @_listOfModel[i].Id
                                </td>
                                <td>
                                    @_listOfModel[i].AlbertaHealthServicesZone
                                </td>
                                <td>
                                    Sex of: @_listOfModel[i].Gender
                                </td>
                                <td>
                                    Status: @_listOfModel[i].DeathStatus
                                    @if(_listOfModel[i].DeathStatus=="Died"){
                                        <i class="bi bi-hand-thumbs-down"></i>
                                }
                                else if (_listOfModel[i].DeathStatus == "NA")
                                {
                                        <i class="bi bi-question-circle"></i>
                                } else {
                                        <i class="bi bi-hand-thumbs-up"></i>
                                }
                                </td>
                            </tr>
                        } else {

                        }

                    


                }
            }
        </tbody>
    </table>
    

</div>
