@model IEnumerable<Covid19AlbertaStatisticsDatum>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Testing db first</h1>
    <p>Learn about building Web apps with ASP.NET Core</a>.</p>
    @foreach (var obj in Model)
    {
        <p>@obj.Gender</p>
    }
</div>
